<header class="bg-rose-100 shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light container">
        <a class="navbar-brand text-rose-700 fw-bold" href="#">
            <i class="bi bi-heart-fill me-2"></i>Eternal Hearts
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a i18n class="nav-link text-rose-600" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-rose-600" routerLink="/matches">Match</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-rose-600" routerLink="/login">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-rose-600" [routerLink]="ROUTES.PROFILE">Profile</a>
                </li>
            </ul>
            <div class="d-flex">

                <button class="btn btn-outline-rose rounded-pill me-2" [routerLink]="ROUTES.LOGIN"
                    *ngIf="!isLoggedIn()">Login</button>
                <button class="btn btn-link nav-link" (click)="onLogout()" *ngIf="isLoggedIn()">Logout</button>

                <button class="btn btn-rose rounded-pill" [routerLink]="ROUTES.REGISTER">Sign Up</button>
            </div>
        </div>
    </nav>
</header>