/* Navbar styles */
.navbar {
    background-color: var(--secondary-color);
}

.navbar .nav-link {
    color: var(--neutral-color);
}

.navbar .nav-link:hover {
    color: var(--accent-color);
}

// Style for active nav links
.nav-link {
    &.active {
        color: $rose-700 !important;
        font-weight: 500;
    }

    &:hover {
        color: $rose-600 !important;
    }
}