 .bg-gradient-pink-rose {
     background: linear-gradient(135deg, #fce4ec, #ffebee);
 }

 .text-rose-700 {
     color: $rose-700 !important;
 }

 .text-rose-600 {
     color: $rose-600 !important;
 }

 .text-rose-500 {
     color: $rose-500 !important;
 }