<div class="container-fluid bg-gradient-pink-rose min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card shadow-lg mt-5 mb-5" style="max-width: 400px;">
        <div class="card-body p-5">
            <h2 class="card-title text-center text-rose-700 mb-4">Looks like you're new here!</h2>
            <form *ngIf="!showOtpInput">
                <div class="input-group mb-3">
                    <select class="form-control" *ngIf="isMobileNumber" [(ngModel)]="selectedCountryCode"
                        name="countryCode">
                        <option *ngFor="let country of countries" [value]="country.code">
                            {{country.name}} ({{ country.code
                            }})
                        </option>

                    </select>

                    <input class="form-control" [(ngModel)]="emailOrMobile" (input)="onInputChange()"
                        placeholder="Email or Mobile" required name="emailOrMobile">
                </div>
                <input class="form-control mb-3" [(ngModel)]="password" (input)="onPwdInputChange()" type="password"
                    placeholder="Password" required name="password">

                <div *ngIf="showPwdStrengthBar">
                    <div class="progress mt-2" style="height: 5px;">
                        <div class="progress-bar"
                            [ngStyle]="{'width': passwordStrength + '%', 'background-color': passwordStrengthColor}">
                        </div>
                    </div>
                    <small class="form-text" [style.color]="passwordStrengthColor">{{passwordStrengthText}}</small>
                </div>
                <div class=" mt-3">
                    <button class="btn btn-primary w-100" (click)="initiateSignup()">Sign Up</button>
                </div>
            </form>

            <form *ngIf="showOtpInput">
                <input class="form-control mb-3" [(ngModel)]="otp" placeholder="Enter OTP" required name="otp">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" (click)="validateOtpAndCompleteSignup()">Verify OTP and
                        Complete
                        Signup</button>
                </div>
            </form>
            <!-- Login Option for Existing Users -->
            <div class="text-center mt-4">
                <p>Already have an account?
                    <a routerLink="/user/login" class="text-primary" style="text-decoration: underline;">Log in here</a>
                </p>
            </div>
        </div>
    </div>
</div>