/* Footer styles */
footer {
    background-color: var(--secondary-color);
    color: var(--neutral-color);
    padding: 20px 0;
}

footer a {
    color: var(--neutral-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--accent-color);
}

footer .social-icons i {
    color: var(--accent-color);
    font-size: 1.5rem;
    margin: 0 10px;
}

footer .social-icons i:hover {
    color: white;
}